:root{
  --primary: #00c3ff;
  --primary-light: #47d3fe;
  --dark: #393b3b;
  --linear-gradient: --linear-gradient(to right, var(--primary), var(--primary-light));
  --box-shadow: 0 0 5px rgba(0, 0, 0, 0.2)
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body{
  background: #f5f3f3;
}

button{
  border: 0;
  outline: 0;
  padding: 0.7rem;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
}

.delete{
  background: #ff005d;
  color: white;
  margin: 0 1rem;
  transition: .3s ease;
}

.btn{
  border: 0;
  outline: 0;
  border-radius: 5px;
  background: var(--primary);
  color: white;
  padding: 0.5rem 1rem;
  transition: .3s;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.btn:active, button:active{
  transform: scale(1.1);
}

.container{
  width: 80%;
  margin: 0 auto;
  height: 100vh;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 30% auto;
  gap: 2rem;
  padding: 2rem;
}

.buttons{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.SideBar{
  background: white;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  height: fit-content;
  padding: 2rem 1rem;
}

.students_count{
  font-size: 5rem;
  color: var(--primary);
  text-align: center;
  margin-bottom: 2rem;
}

.SideBar h2{
  text-align: center;
  font-size: 1.5rem;
  margin: 3rem 0 1rem 0;
}

.search label{
  font-size: 20px;
}

.search input{
  width: 100%;
  height: 3rem;
  margin: 10px 0;
  padding: 0 1rem;
  font-size: 18px;
  border-radius: 5px;
  border: 1px solid gray;
  outline-color: var(--primary);
}

.students_container{
  padding-right: 1rem;
  width: 100%;
  height: fit-content;
  overflow-y: scroll;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.student_card{
  height: 15rem;
  background: white;
  border-radius: 10px;
  box-shadow: var(--box-shadow);
  padding: 1rem;
  transition: .3s ease;
}

.student_card:hover{
  box-shadow: none;
}

.student_card img{
  width: 7rem;
  height: 7rem;
  border-radius: 50%;
}

.student_card .Name{
  font-size: 1.2rem;
  font-weight: 600;
}

.missing{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.missing h1{
  font-size: 3rem;
  margin-bottom: 2rem;
}

.link{
  text-decoration: none;
  /* color: var(--primary); */
  color: var(--dark);
  font-size: 1.2rem;
}

.student_page{
  height: 90vh;
  overflow-y: scroll;
}

.student_page .student img{
  width: 10rem;
  height: 10rem;
}

.student_page .student .Name{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.student_page .student .course{
  font-size: 1.3rem;
  margin-bottom: 1rem;
}

.student_page .student .school{
  font-size: 1.3rem;
}

.student_page .student .top{
  display: flex;
  align-items: flex-start;
  gap: 2rem;
}

.student_page .student .bio{
  margin: 2rem 0;
}

.student .bio p{
  word-spacing: 2px;
  font-size: 20px;
  line-height: 1.6rem;
}

.student .tag{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary);
  margin-bottom: 1rem;
}

.new_student form{
  width: 100%;
  padding: 1rem 0;
}

.new_student form label{
  margin-bottom: 10px;
}

form input[type='text']{
  width: 70%;
  height: 3rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
}
form input#profile{
  width: 70%;
  height: 3rem;
  margin-bottom: 1rem;
  padding: 1rem;
  background: white;
}

form input{
  border-radius: 5px;
  border: 1px solid gray;
  outline-color: var(--primary);
}

textarea{
  width: 70%;
  height: 10rem;
  padding: 1rem;
  border-radius: 5px;
   border: 1px solid grey;
  outline-color: var(--primary);
}

form button{
  margin-top: 1rem;
}

@media screen and (max-width: 1200px) {
  .container{
    width: 100%;
    grid-template-columns: 35% auto;
    gap: 1rem;
    padding: 1rem;
  }

  .students_container{
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .new_student form input, .new_student form input#profile, textarea{
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .container{
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .students_container, .student_page{
    height: fit-content;
    overflow-y: auto;
    overflow-x: auto;
    padding: 2rem 0;
  }

  .student_page .student .top{
    flex-direction: column;
  }

  .student_card{
    height: 16rem;
  }

  .student_card img{
    width: 5rem;
    height: 5rem;
  }
}

@media screen and (max-width: 450px){
  .students_container{
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}